<?php
$sugar_config_si = array(
    'setup_db_host_name'                  => 'localhost',
    'setup_db_database_name'              => 'sugarcrm',
    'setup_db_drop_tables'                => 1,
    'setup_db_create_database'            => 1,
    'developerMode'                       => true,
    'demoData'                            => 'yes',
    'setup_site_admin_user_name'          => 'admin',
    'setup_site_admin_password'           => 'asdf',
    'setup_db_create_sugarsales_user'     => 0,
    'setup_db_admin_user_name'            => 'sugar',
    'setup_db_admin_password'             => 'sugar',
    'setup_db_sugarsales_user'            => 'sugar',
    'setup_db_sugarsales_password'        => 'sugar',
    'setup_db_type'                       => 'mysql',
    'setup_license_key_users'             => 9999,
    'setup_license_key_expire_date'       => '01/19/2038',
    'setup_license_key_oc_licences'       => 9999,
    'setup_license_key'                   => '{{ setup_license_key }}',
    'setup_site_url'                      => 'http://localhost:8080/dev',
    'setup_system_name'                   => 'SugarCRM',
    'default_currency_iso4217'            => 'USD',
    'default_currency_name'               => 'US Dollars',
    'default_currency_significant_digits' => '2',
    'default_currency_symbol'             => '$',
    'default_date_format'                 => 'm/d/Y',
    'default_time_format'                 => 'h:i a',
    'default_decimal_seperator'           => '.',
    'default_export_charset'              => 'ISO-8859-1',
    'default_language'                    => 'en_us',
    'default_locale_name_format'          => 's f l',
    'default_number_grouping_seperator'   => ',',
    'export_delimiter'                    => ',',
    'setup_fts_type'                      => 'Elastic',
    'setup_fts_host'                      => 'localhost',
    'setup_fts_port'                      => '9254', // Use 9200 to use the local instance of ES 1.7 prior to SugarCRM 7.10.
    'setup_fts_skip'                      => false,
    'setup_site_specify_guid'             => true,
    'setup_site_guid'                     => 'sugarcrm',
    'validation'                          => ['soft_fail' => false],
    'disable_unknown_platforms'           => true,
);
